@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
:root {
    --black: #000000;
    --yellow: #fac43b;
    --blue: #3fa2e9;
    --white: #fff;
    --font-for-min-384px: 2rem;
    --font-for-max-384px: 1.7rem;
    --font-base: 2.5rem;
    --blueShadow: 0 0 20px var(--blue);
    --whiteShadow: 0 0 10px var(--white);
    --imageBackground: url(../images/back/b1\ \(6\).jpg) no-repeat;
    --transparencia:  rgba(0, 0, 0, 0.192);
  }

* {
  font-family:
    /* Gabriola,*/
    'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .2s linear;
}

::selection {
  background: var(--black);
  color: var(--white);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: rgba(83, 80, 80, 0.292);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

footer{
    background: url(../images/back/b1\ \(6\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.direitos-autorais{
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0 6rem;
    text-align: center;
    border-top: .1rem solid #fff4;
    text-transform: lowercase;
}
.direitos-autorais span{
    text-transform: lowercase;
    color: var(--yellow);
}
.direitos-autorais a{
    color: var(--white);
}