@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
:root {
    --black: #000000;
    --yellow: #fac43b;
    --blue: #3fa2e9;
    --white: #fff;
    --font-for-min-384px: 2rem;
    --font-for-max-384px: 1.7rem;
    --font-base: 2.5rem;
    --blueShadow: 0 0 20px var(--blue);
    --whiteShadow: 0 0 10px var(--white);
    --imageBackground: url(../images/back/b1\ \(6\).jpg) no-repeat;
    --transparencia:  rgba(0, 0, 0, 0.192);
}

* {
  font-family:
    /* Gabriola,*/
    'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--black);
  color: var(--white);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: rgba(83, 80, 80, 0.292);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

section{
  min-height: 100vh;
}

header {
  width: 96%;
  box-shadow: var(--whiteShadow);
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
  transform-origin: .2s;
}

.header-active {
  top: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: var(--whiteShadow);
  background: var(--imageBackground);
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .navbar ul li {
  margin: 0 1rem;
}

header .navbar ul li a {
  font-size: 2rem;
  color: var(--white);
  padding: 0 1rem;
  transition: .4s;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
  color: var(--blue);
  text-shadow: 0 0 10px var(--white);
}

header .logo {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: var(--white);
  text-shadow: var(--blueShadow);
  text-transform: uppercase;
}

header .logo img {
  width: 72px;
  height: 48px;
}

header .logo i {
  color: var(--black);
  padding: 0 .2rem;
}

header .fa-bars {
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
  display: none;
  transition: 1s;
}



header .fa-times {
  transform: rotate(180deg);
  color: var(--blue);
}

/*media queries*/
@media (max-width:1035px){
  header .logo{
    font-size: 2rem;
  }
  header .navbar ul li{
    margin: 0 .1rem;
  }
  header .navbar ul li a{
    padding: 0 .3rem;
  }
}

@media (max-width:832px) {
  header .logo{
    font-size: 1.8rem;
  }
  header .navbar ul li a {
    display: block;
    font-size: 1.4rem;
    padding: 0 .3rem;
  }
  header .navbar ul li{
    margin: 0 .1rem;
  }
}

@media (max-width:659px) {
  header .logo{
    font-size: 1.7rem;
  }
  header .navbar ul li a {
    display: block;
    font-size: 1.4rem;
    padding: 0 .1rem;
  }
  header .navbar ul li{
    margin: 0 .1rem;
  }
}
@media (max-width:630px) {
  header .fa-bars {
    display: block;
  }
  header{
    background:url(../images/back/b1\ \(6\).jpg) no-repeat;
  }
 
  header .navbar ul {
    flex-flow: column;
    padding: 2rem 0;
  }

  header .navbar ul li {
    width: 100%;
    text-align: center;
  }
  header .navbar {
    background: rgba(0, 0, 0, 0.651) ;
    position: fixed;
    top: -100rem;
    left: 0;
    width: 100%;
    border-radius: 10px;
    opacity: 0.3;
    transition: 1s linear;
  }
  header .nav-toggle {
    top: 8rem;
    opacity: 1;
    box-shadow: var(--blueShadow);
  }
}




@media (max-width:480px) {
  header .logo{
    font-size: 1.8rem;
  }
  header .navbar ul li a {
    display: block;
    font-size: 2rem;
  }
  header .navbar ul li{
    margin: 0 1.5rem;
  }
}

@media (max-width:360px) {
  header .logo{
    font-size: 1.8rem;
  }
  header .navbar ul li a {
    display: block;
    font-size: 2rem;
  }
  header .navbar ul li{
    margin: 0 .5rem;
  }

}
