@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
:root {
  --black: #000000;
  --yellow: #fac43b;
  --blue: #3fa2e9;
  --white: #fff;
  --font-for-min-384px: 2rem;
  --font-for-max-384px: 1.7rem;
  --font-base: 2.5rem;
  --blueShadow: 0 0 20px var(--blue);
  --whiteShadow: 0 0 10px var(--white);
  --imageBackground: url(../images/back/b1\ \(6\).jpg) no-repeat;
  --transparencia:  rgba(0, 0, 0, 0.192);
}

* {
  font-family:
    /* Gabriola,*/
    'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--black);
  color: var(--white);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: rgba(83, 80, 80, 0.292);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

section{
  min-height: 100vh;
}

.members{
  background: /*linear-gradient(rgba(43, 86, 171, 0.519), rgba(217, 217, 14, 0.421)),*/ url(../images/back/b1\ \(6\).jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  overflow: hidden;
  position: relative;
}
.members .heading {
  font-size: 5rem;
  color: var(--blue);
  text-align: center;
  padding-top: 6rem;
  letter-spacing: .2rem;
  font-weight: 500;
  font-weight: 500;
  text-shadow: 0 0 5px #cecbcb;
}
.members .title{
  padding: 0 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  color:  var(--white);
}

.members .card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.members .card-container .card{
    padding: 2rem;
    margin: 2rem;
    background:var(--transparencia);
    text-align: center;
    width: 28rem;
    box-shadow: 0 .3rem .5rem rgba(75, 73, 73, 0.856);
}

.members .card-container .card img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    filter: grayscale();
    transition: .2s;
}
.members .card-container .card:hover img{
    filter: grayscale(0);
}
.members .card-container .card h3{
    color: var(--blue);
    font-size: 2rem;
    padding: .5rem 0;
}
.members .card-container .card p{
    font-size: 1.7rem;
    color: #666;
}
.members .card-container .card .icons a{
    font-size: 1.9rem;
    padding: 1.5rem .5rem;
    color: var(--blue);
}

.members .card-container .card .icons a:hover{
    text-shadow:var(--whiteShadow);
}

@media (max-width:1035px) {}

@media (max-width:832px) {}

@media (max-width:659px) {}

@media (max-width:630px) {}

@media (max-width:480px) {
  .members .heading {
    font-size: 2rem;
    text-align: left;
    padding-top: 0rem;
    letter-spacing: .2rem;
    text-shadow: 0 0 3px #cecbcb;
  }
  .members .title{
    padding:0;
    font-size: 1.5rem;
  }
  .members .card-container{
    padding: .5rem 0;
    flex-wrap:nowrap;
  }
  .members .card-container .card{
    padding: 2rem;
    margin: .3rem;
    width: 20rem;
  }
  .members .card-container .card img{
    height: 15rem;
    width: 100%;
  }
  .members .card-container .card h3{
    font-size: 1.5rem;
    padding: .5rem 0;
  }
  .members .card-container .card p{
    font-size: 1.3rem;
  }
  .members .card-container .card .icons a{
    font-size: 1.9rem;
    padding: 1rem 0;
  }
}

@media (max-width:360px) {
 .members .heading {
  font-size: 2rem;
  text-align: left;
  padding-top: 0rem;
  letter-spacing: .2rem;
  text-shadow: 0 0 3px #cecbcb;
}
.members .title{
  padding:0;
  font-size: 1.5rem;
}
.members .card-container{
  padding: .5rem 0;
  flex-wrap:nowrap;
}
.members .card-container .card{
  padding: 1rem;
  margin: .3rem;
  width: 20rem;
}
.members .card-container .card img{
  height: 15rem;
  width: 100%;
}
.members .card-container .card h3{
  font-size: 1.5rem;
  padding: .5rem 0;
}
.members .card-container .card p{
  font-size: 1.3rem;
}
.members .card-container .card .icons a{
  font-size: 1.9rem;
  padding: 1rem 0;
}
}