.hero-section {
    display: flex;
    padding: 60px;
    background: url('../../assets/team-cover.jpg') center no-repeat;
    background-size: cover;

}

.left-col {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 40px;
    /* color: #fff; */
}

.left-col h1 {
    padding: 30px 0px;
}

.left-col p {
    padding: 0px 80px 40px 60px;
    line-height: 18px;
}

.left-col a {
    text-decoration: none;
    background: rgb(68, 68, 205);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    border: 1px solid black;
    transition: all .3s ease;
}

.left-col a:hover {
    background: rgba(255, 255, 255, .1);
    letter-spacing: 1px;
    color: #000;
}

.right-col {
    display: flex;
    width: 40%;
    justify-content: center
}

.right-col img {
    width: 600px;
    /* border: 2px solid black; */
}

@media (max-width:768px) {
    .hero-section {
        flex-direction: column;
        padding: 30px;
    }

    .left-col {
        width: 100%;
        padding: 0px;
    }

    .left-col h1 {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 26px;
        text-align: end;
    }

    .left-col p {
        padding-bottom: 20px;
        padding: 15px 20px 20px 20px;
        text-align: justify;
        font-size: 12px;
    }

    .left-col a {
        padding: 10px;
    }

    .right-col {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: auto;
    }

    .right-col img {
        width: 470px;
        /* border: 2px solid black; */
    }
}